body,
html {
  background: #d7d3d1;
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0px;
}

header {
  align-items: center;
  background-color: #ff9670;
  display: flex;
  height: 20%;
  justify-content: space-between;
}
nav {
  margin-left: 5%;
}

h1 {
  margin-right: 5%;
}

.arrow {
  font-size: 20vh;
}

.trips-button,
.create-button,
.all-trips-button,
.past-trips-button,
.current-trips-button,
.future-trips-button,
.pending-trips-button,
.form-choice {
  height: 39px;
  width: 149px;
  background-color: #ffd2be;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  float: left;
}

.trips-button:hover,
.create-button:hover {
  background-color: #ff9670;
}

.all-trips-button:hover,
.past-trips-button:hover,
.current-trips-button:hover,
.future-trips-button:hover,
.pending-trips-button:hover {
  background-color: #d7d3d1;
}

.form-choice {
  width: 170px;
  background-color: #ff9670;
}

.form-choice:hover {
  background-color: #ffd2be;
}

.trips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.trip-card,
.mock-up {
  background-color: #ffd2be;
  width: 340px;
  height: 475px;
}

.card-img {
  width: 340px;
  height: 254px;
}

.card {
  margin-left: 15px;
}

.create-trip {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ffd2be;
  width: 400px;
  height: 400px;
}

.add-trip-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
}

.cal {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
